
<br>
<br>
   <div class="col-md-10 col-md-offset-2" >
        <% if @keyword %>
        <% (0..4).each do |idx| %>
            <img src="<%= @page_img.search("img")[idx].attribute("src").text %>" alt="pictures" >

        <% end %>
    <% end %>
   </div>
<br>
<br>
   <div class="col-md-10 col-md-offset-2" style="margin-top: 10px;" >
        <% @content1.each do |content1| %>
        <div style="font-family: Arial; font-weight: bold">
            <%= content1.search("h5 span.mw-headline").text %>
        </div>
        <% content1.search("dl dd dl dd").each do |subcontent1| %>
                <% if subcontent1.search("a").any? %>
                    <div style="padding-left: 30px; color: red; font-family: Arial">
                        <%= subcontent1.text %>
                    </div>
                <% else %>
                    <div style="padding-left: 30px; color: green; font-family: Arial">
                        <%= subcontent1.text %>
                    </div>
                <% end %>
        <% end %>
    <% end %>
   </div>