<footer class="navbar-defalt navbar-fixed-bottom" style="-webkit-transform: translateZ(0); z-index: 1000;">
    <div class="panel panel-default" style="margin-bottom: 0px;">
        <div class="panel-footer text-center" style="background-color: orange; color: black; ">
            Copyrights 2017, All rights reserved
        </div>
    </div>
</footer>