<footer class="navbar-defalt navbar-fixed-bottom" >
    <div class="panel panel-default">
        <div class="panel-footer text-center" style="background-color: orange; color: black; ">
            Copyrights 2017, All rights reserved
        </div>
    </div>
</footer>