<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>SMART DICTIONARY</h1>        
            <h3>Makes everything easy</h3>
        </hgroup>
      </div>
    </div>
  </div> 
</div>