// Place all the styles related to the Translations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.twitter-typeahead {
  .tt-hint {
    display: none;
  }

  .tt-dropdown-menu {
    width: 100%;
    background: white;
    border: 1px solid rgb(221, 221, 221);
    padding: 12px;
  }
}